.table {
    width: 75%;
    border-collapse: collapse;
}

.table-head {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    text-align: left;
}

td:first-child, th:first-child {
    padding-left: .5rem;
}

caption {
    caption-side: bottom;
    color: rgb(113 113 122);
    padding-top: 1rem;
}